* {
box-sizing:border-box;
}
.row{
	margin:0px;
	padding:0px;
}


.header{
	width:100%;
	height:50px;
	background-color:fff#;
}

.center{
	width:100%;
	height:350px;
	background-color:gray;
	padding-top:20px;
	padding-right:20px;
}

.center .button{
	background-color:blue;
	width:60px;
	height:40px;
	float:right;
}

.answers{
	background-color:fff#;
	width:100%;
}

.answer{
	width:565px;
	height:80px;
	background-color:red;
}

.left{
	margin-right:5px;
}
.right{
	margin-left: 5px;
}

.up{
	margin-bottom:5px;
}

.down{
	margin-top:5px;
}

