* {
box-sizing:border-box;
}
.row{
	margin:0px;
	padding:0px;
}


.header{
	width:100%;
	height:100px;
	background-image:url("../image/Header.png");
    border-bottom:solid 4px #000; 
}
#wrapper{
 width: 100%;
 height:750px;
 background-image: url("../image/background.png");
 padding-right: 43px;
 padding-top: 18px;
 padding-left: 54px;
}
.video{
   height: 300px; 
}

.center{
	width:100%;
	height:450px;
	padding-top:20px;
	padding-right:20px;

}
.video{
    
    
}
.video .button{
	
	width:60px;
	height:40px;
	float:right;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #3fc7f3;
    width: 80px;
    height: 40px;
    -webkit-box-shadow: 9px 7px 13px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 9px 7px 13px 0px rgba(0,0,0,0.81);
    box-shadow: 9px 7px 13px 0px rgba(0,0,0,0.81);
    border-radius: 11px;
    border: none;
}

input[type="button"]:hover{
  
transform: skew(-10deg);
    opacity: 20%;

}


img {    
   
 width: 500px;
    height: 120px;
    
}
#q{
   font-size: 32px;
    direction: rtl;
    text-align: center;
    font-size: 32px;
    position: relative;
    display: block;
    top: 30%;
}
.answers{
	width:100%;
    
}

.answer{
	width:500px;
	height:160px;
        color: white;
	text-align: center;
	font-size: 30px;
        direction: rtl;
  

}

.a1{
    background-image: url("../image/card2.png");
    background-size: 83% auto;
    background-repeat: no-repeat;
    padding-right: 80px;
    padding-top: 50px;
}


.a2{
    background-image: url("../image/card1.png");
    background-size: 83% auto;
    background-repeat: no-repeat;
    padding-right: 80px;
    padding-top: 50px;
}

.a3{
    background-image: url("../image/card4.png");
    background-size: 83% auto;
    background-repeat: no-repeat; 
    padding-right: 80px;
    padding-top: 35px;
}
.a4{
    background-image: url("../image/card3.png");
    background-size: 83% auto;
    background-repeat: no-repeat;
    padding-right: 80px;
    padding-top: 35px;
   
}
.down{
    padding-left: 20px;
}

/*.left{
	margin-right:5px;
}
.right{
	margin-left: 5px;
}

.up{
	margin-bottom:5px;
}

.down{
	margin-top:5px;
}*/

.footer{
    width: 100%;
    height: 160px;
    background-image: url("../image/newheader.png");
    border-top: solid 4px #000;
        background-size: 100% auto;
    background-repeat: no-repeat;
}

